<%- layout('/layouts/boilerplate') %>
<body>
  <h1>All Venues</h1>
  <a href="venues/new">Add New Venue</a>
  <ul>
    <% for (v of venues) { %>
    <li><a href="venues/<%= v.id %>"><%= v.name %></a></li>
    <% } %>
  </ul>
</body>
