<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Venue</title>
  </head>
  <body>
    <form action="/venues" method="POST">
      <div>
        <label for="name">Name</label>
        <input type="text" name="venue[name]" id="name" />
      </div>
      <div>
        <label for="location">Location</label>
        <input type="text" , name="venue[location]" id="location" />
      </div>
      <button>Add Venue</button>
      <div>
        <button>
          <a href="/venues">Home</a>
        </button>
      </div>
    </form>
  </body>
</html>
