<%- layout('/layouts/boilerplate') %>

<form action="/venues" method="POST">
  <div>
    <label for="name">Name</label>
    <input type="text" name="venue[name]" id="name" />
  </div>
  <div>
    <label for="location">Location</label>
    <input type="text" name="venue[location]" id="location" />
  </div>
  <button>Add Venue</button>
</form>
<button>
  <a href="/venues">Home</a>
</button>
